{% extends "base.html" %}
{% block content %}
    {% for car in cars %}
      {% if current_user == car.user_one
        or current_user == car.user_two
        or current_user == car.user_three
        or current_user == car.user_four
        or current_user == car.user_five %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
              <div class="">
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('cars.update_car', car_id=car.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{ car.id }}">Delete</button>
                </div>
                <a class="mr-2" href="#">{{ car.car_name }}</a>
              </div>

              {% if car.user_one %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + car.user_one.image_file) }}" alt="">
                <p class="article-content">{{ car.user_one.username }}</p>
                <p class="article-content">{{ car.user_one.email }}</p>
                </br>
              {% endif %}

              {% if car.user_two %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + car.user_two.image_file) }}" alt="">
                <p class="article-content">{{ car.user_two.username }}</p>
                <p class="article-content">{{ car.user_two.email }}</p>
                </br>
              {% endif %}

              {% if car.user_three %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + car.user_three.image_file) }}" alt="">
                <p class="article-content">{{ car.user_three.username }}</p>
                <p class="article-content">{{ car.user_three.email }}</p>
                </br>
              {% endif %}

              {% if car.user_four %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + car.user_four.image_file) }}" alt="">
                <p class="article-content">{{ car.user_four.username }}</p>
                <p class="article-content">{{ car.user_four.email }}</p>
                </br>
              {% endif %}

              {% if car.user_five %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + car.user_five.image_file) }}" alt="">
                <p class="article-content">{{ car.user_five.username }}</p>
                <p class="article-content">{{ car.user_five.email }}</p>
                </br>
              {% endif %}
            </div>
          </article>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal{{ car.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Car?{{ car.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('cars.delete_car', car_id=car.id) }}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
{% endblock content %}
