body {
  background: #5F636C;
  color: #fff;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/* MEDIA */
@media only screen and (max-width: 720px) {
  body.login-body {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 900px;
  }
  .col-md-8 {
      max-width: 900px;
  }
  body.login-body {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1700px;
  }
  body.login-body {
    margin-left: 37%;
    margin-right: 37%;
  }
}

.bg-steel {
  background-color: #404249;
  box-shadow:0px 1px 2px black;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #404249;
  padding: 10px 20px;
  box-shadow:0px 1px 2px black;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-section h3 {
    color: #fff;
}

.article-title {
  color: #fff;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: #fff;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid black
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  color: #fff;
}

.list-group-item-light {
    background-color: #27292F;
}

.form-control {
    background-color: #27292F;
    border: 1px solid black;
    color: #fff;
}

.form-control:focus {
    background-color: inherit;
    box-shadow: 0 0 0 0.2rem rgba(23,162,185,.25);
    border-color: black;
}
